.header img{
    height : 80px;
}
.header{
    text-align: center;
}
nav{
    background-color: black;
    line-height: 50px;
}
nav a{
    text-decoration: none;
    font-size : 30px;
    margin : 20px;
    color: blue;
}
nav a:hover{
    background-color: paleturquoise;
    font-size: 32px;
}